page-going {

  ion-content {

    .scroll-content {
      padding: 20px 0 !important;
    }

    div.tip {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      text-align: center;

      h5 {
        font-size: 24px;
      }

      p {
        font-size: 16px;
      }
    }
  }
}
