page-login {

  ion-content {
    background-color: color($colors, primary, base) !important;

    div {
      width: 100%;

      ion-grid {

        ion-row {

          form {

            .button-md[type="submit"] {
              width: 100%;
              margin-top: 16px !important;
            }

            h4, p {
              color: #fff;
            }

            h4 {
              text-align: center;
              margin: 15px 0 35px !important;
            }

            p {
              font-size: 14px;
              font-weight: 500;
              text-align: right;
              margin: 6px 0 16px;
            }

            p.error {
              color: color($colors, danger, base);
              font-size: 13px;
              text-align: left;
              margin: 0;
            }
          }
        }
      }
    }
  }

}
