page-login {

  ion-content {
    background-color: color($colors, primary, base) !important;

    div {
      width: 100%;

      ion-grid {

        ion-row {

          form {

            button {
              width: 100%;
            }

            h4 {
              text-align: center;
              margin: 15px 0 35px !important;
            }

            p {
              font-size: 14px;
              font-weight: 500;
              text-align: right;
              margin: 6px 0 32px;
            }
          }
        }
      }
    }
  }

}
