page-tabs {

  ion-toolbar {

    ion-icon {
      font-size: 1.6em;
    }

  }

  .profile-button {
    background-color: transparent;
    margin: 0 8px 0 12px;
  }

  .search-button {
    background-color: transparent;
    margin-left: 16px;
  }

}
