page-tabs {

  ion-header.profile-header {
    top: 4px;

    .toolbar-md {
      min-height: 44px;
    }
  }

  ion-toolbar {

    ion-icon {
      font-size: 1.8em;
    }

  }

  ion-footer.search-footer {
    bottom: 4px;

    .toolbar-md {
      min-height: 44px;
    }
  }

  .profile-button, .search-button {
    background-color: transparent;
    margin-left: 8px;
  }

}
