page-intro {

  ion-content {
    background-color: color($colors, primary, base) !important;

    .scroll-content {
      padding: 80px 16px !important;

      ion-grid {
        height: 100%;

        button, .g-signin2 {
          width: 100%;
        }

        .g-signin2 > div{
          width: 100% !important;
          margin: 0 auto;
        }

        .center-content {
          height: calc(100vh - 232px) !important;
        }

        h4, h2, h1, p {
          text-align: center;
          margin: 0;
        }

        p {
          font-size: 14px;
        }

        h2 {
          font-size: 28px;
        }

        h1 {
          font-size: 56px;
        }
      }
    }
  }
}
