page-register {

  ion-header {

    .toolbar-md {
      min-height: 56px !important;
    }
  }

  ion-content {
    background-color: color($colors, primary, base) !important;

    div {
      width: 100%;

      ion-grid {

        ion-row {

          form {

            .button-md[type="submit"] {
              width: 100%;
              margin-top: 32px !important;
            }

            ion-item {
              background-color: transparent !important;
              color: #fff !important;
            }

            .item-md.item-input.item-input-has-focus .item-inner,
            .item-md.item-input.input-has-focus .item-inner {
              border-bottom-color: #fff;
              box-shadow: inset 0 -1px 0 0 #fff;
            }

            ion-label {
              color: #fff !important;
            }

            h4, p {
              color: #fff;
            }

            h4 {
              text-align: center;
              margin: 15px 0 35px !important;
            }

            p {
              font-size: 14px;
              font-weight: 500;
              text-align: right;
            }
          }
        }
      }
    }
  }

}
