page-create-event {

  ion-content {
    text-align: center !important;

    h4 {
      margin-top: 20px !important;
    }

    p {
      margin-bottom: 5px !important;
    }

    ion-list.details-list {
      height: 2.5rem !important;

      .item-inner {
        margin-left: 0 !important;
      }

      ion-icon {
        padding: 0;
      }
    }

    #map {
      width: 100%;
      height: 200px;
    }
  }

}
