<ion-card>

  <ion-item>
    <ion-icon name="calendar" item-start large></ion-icon>
    <h2>{{ event.title }}</h2>
    <p>{{ event.description }}</p>
    <p>{{ event.busyTime.startDate }} - {{ event.busyTime.endDate }}</p>
  </ion-item>

  <ion-fab right top>
    <button ion-fab color="black">
      <ion-icon name="pin"></ion-icon>
    </button>
  </ion-fab>

  <div class="card-image" [ngStyle]="{'background-image': 'url(' + (event.place.thumbnail || 'assets/imgs/default-card.png') + ')'}"></div>

  <ion-item class="place-details">
    <ion-icon [name]="iconTypes[event.place.type] || 'compass'" item-start large></ion-icon>
    <h2>{{ event.place.name }}</h2>
    <p>{{ event.place.address }}</p>
  </ion-item>

  <ion-item>
    <span class="eta" item-left>{{ event.eta }} min</span>
    <span item-left>({{ event.dist }} km)</span>
    <button ion-button icon-left clear item-end (click)="showPeople()">
      <ion-icon name="people"></ion-icon>
      People
    </button>

    <button *ngIf="isAvailable; else leaveButton" ion-button icon-left clear item-end (click)="joinEvent()">
      <ion-icon name="add"></ion-icon>
      Join
    </button>
    <ng-template #leaveButton>
      <button *ngIf="event.users.length > 1; else deleteButton" ion-button icon-left clear item-end (click)="leaveEvent()">
        <ion-icon name="close"></ion-icon>
        Leave
      </button>
      <ng-template #deleteButton>
        <button ion-button icon-left clear item-end color="danger" (click)="deleteEvent()">
          <ion-icon name="close"></ion-icon>
          Delete
        </button>
      </ng-template>
    </ng-template>
  </ion-item>


</ion-card>
