<ion-card>

  <img [src]="event.thumbnailPath">
  <ion-fab right top>
    <button ion-fab>
      <ion-icon name="pin"></ion-icon>
    </button>
  </ion-fab>

  <ion-item>
    <ion-icon name="event" item-start large></ion-icon>
    <h2>{{ event.name }}</h2>
    <p>{{ event.address }}</p>
  </ion-item>

  <ion-item>
    <span item-left>{{ event.eta }} min</span>
    <span item-left>({{ event.distance }} km)</span>
    <button ion-button icon-left clear item-end>
      <ion-icon name="add"></ion-icon>
      Join
    </button>
  </ion-item>

</ion-card>
